body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to top left, rgba(0,0,0,.5), rgba(0,0,0,.55), rgba(0,0,0,.6));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Armata', sans-serif;
}

* {
    box-sizing: border-box;
}

.page-footer {
    border-top: .5px aqua solid;
    font-weight: bold;
    width: 100%;
}


.fa {
    color: aqua;
    width: 20px;
}

.fa:hover {
    color: white;
}

.modal-body,
.modal-header {
    background: rgba(0,0,0,.05);
}

.hover-effect { 
    transition: all .2s ease-in-out; 
}
.hover-effect:hover { 
    transform: scale(1.03); 
}

a:hover {
    text-decoration: none;
}

.smallText {
    font-size: 12px;
}
